<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mpoo.bsi.ufrpe.helpvegapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.barcodelibrary.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infra.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.gui.RegisterActivity" />
        <activity android:name=".user.gui.ProfileActivity" />
        <activity android:name=".user.gui.EditProfileActivity" />
        <activity android:name=".restaurant.gui.RestaurantActivity" />
        <activity android:name=".restaurant.gui.MapsActivity" />
        <activity android:name=".user.gui.EditPasswordActivity" />
        <activity android:name=".avaliacao.gui.CommentActivity" />
        <activity android:name=".restaurant.gui.GalleryActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />


        <activity android:name=".user.gui.PreferencesActivity" />

    </application>

</manifest>